.main {
  display: grid;
  grid-template-rows: 1fr;

  height: 100%;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(6, 180px);
  justify-content: center;

  gap: 1rem;
  margin: 2rem 0rem;
}

.product {
  border: 1px solid black;
  width: 180px;
  height: 350px;
}

.product-img {
  height: 40%;
  width: 60%;

  padding: 20%;
}

.product-info {
  height: 40%;

  background-color: rgb(200, 200, 200);
  margin-top: -4px;

  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  align-items: center;
}

.product-name,
.product-rating,
.product-price,
.product-buttons {
  margin-left: 6px;
}

.product-name {
  margin-top: 6px;
  font-size: 16px;
  height: 40px;
  overflow: hidden;
  font-weight: 600;
}

/* product rating */
.product-rating {
  display: flex;
  align-items: center;
  position: relative;
}

.rating {
  font-size: 10px;
  border: 1px solid black;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background-color: white;
  width: 26px;
  padding-left: 4px;
}

.rating-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: white;
  width: 50px;
  height: 12px;
  border-radius: 50px;
  border: 1px solid black;
  margin-left: -10px;
  contain: content;
}

.rating-box-fill {
  content: '\A';
  position: absolute;
  background-color: orange;
  top: 0;
  left: 0;
  bottom: 0;
}

.stars-img {
  width: 44px;
  z-index: 1;
}

.amount {
  font-size: 8px;
  margin-left: 2px;
  text-decoration: underline;
  text-decoration-color: gray;
}

/* product price */

.product-price {
  font-weight: 500;
  margin-bottom: 12px;
  text-decoration: underline;
}

/* product buttons */
.product-buttons {
  padding-bottom: 10px;
}

.quantity-selector,
.add-cart-button {
  color: black;
  background-color: orange;
  border: solid 1px black;
  padding: 4px 12px;
  cursor: pointer;
}