.main {
  display: grid;
  grid-template-rows: 1fr;

  height: 100%;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(5, 200px);
  justify-content: center;

  gap: 1rem;
  margin: 2rem;
}

.product {
  border: 1px solid black;
  width: 200px;
  height: 350px;
}

.product-img {
  height: 60%;
  width: 100%;
}