.main {
  display: grid;
  grid-template-rows: 1fr;

  height: 100%;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(6, 180px);
  justify-content: center;

  gap: 1.5rem;
  margin: 2rem 0 2rem 0;
}

.product {
  width: 180px;
  height: 350px;

  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.30);
  background-color: white;

  position: relative;
}

/* #region | top side */
.product-img {
  max-height: 50%;
  max-width: 70%;

  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
}

/* #endregion */

/* #region | bottom side */

.product-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  height: 40%;

  background-color: rgb(220, 220, 220);
  border-top: 1px solid black;
}

.product-name,
.product-rating,
.product-price,
.product-buttons {
  margin-left: 6px;
  cursor: pointer;
}

/* product name */
.product-name {
  height: 40px;
  margin-top: 6px;

  font-size: 16px;
  font-weight: 600;
  overflow: hidden;
}

/* product rating */
.product-rating {
  display: flex;
  align-items: center;
  position: relative;
}

.rating {
  border: 1px solid black;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background-color: white;

  font-size: 10px;
  width: 26px;
  padding-left: 4px;
}

.rating-box {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  contain: content;

  width: 50px;
  height: 12px;
  margin-left: -10px;

  border-radius: 50px;
  border: 1px solid black;
  background-color: white;
}

.rating-box-fill {
  content: '\A';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;

  background-color: orange;
}

.stars-img {
  width: 44px;
  z-index: 1;
}

.amount {
  font-size: 8px;
  margin-left: 2px;

  text-decoration: underline;
  text-decoration-color: gray;
}

/* product price */
.product-price {
  font-weight: 500;
  text-decoration: underline;

  margin-bottom: 10px;
}

/* product buttons */
.product-buttons {
  padding-bottom: 6px;
}

.quantity-selector,
.add-cart-button {
  border: solid 1px black;
  color: black;
  background-color: orange;

  padding: 4px 12px;
  cursor: pointer;
}

/* #endregion */